<a href="https://colab.research.google.com/github/sinku29/Data-Science-Assignment/blob/main/Logistic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [13]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import roc_curve
from sklearn.metrics import roc_auc_score

In [14]:
bank = pd.read_csv("bank-final.csv")
bank

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5.0,may,261.0,1.0,-1.0,0.0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5.0,may,151.0,1.0,-1.0,0.0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5.0,may,76.0,1.0,-1.0,0.0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5.0,may,92.0,1.0,-1.0,0.0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5.0,may,198.0,1.0,-1.0,0.0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25335,34,blue-collar,single,secondary,no,47,yes,no,cellular,18.0,nov,810.0,2.0,-1.0,0.0,unknown,no
25336,33,technician,married,tertiary,no,17455,yes,yes,cellular,18.0,nov,168.0,3.0,179.0,4.0,failure,no
25337,32,blue-collar,married,secondary,no,491,yes,no,cellular,18.0,nov,131.0,3.0,194.0,2.0,failure,no
25338,35,management,married,tertiary,no,2472,no,no,cellular,18.0,nov,586.0,2.0,-1.0,0.0,unknown,no
25339,53,self-employed,married,tertiary,no,33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25340 entries, 0 to 25339
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        25340 non-null  int64
 1   job        25340 non-null  object
 2   marital    25340 non-null  object
 3   education  25340 non-null  object
 4   default    25340 non-null  object
 5   balance    25340 non-null  int64
 6   housing    25339 non-null  object
 7   loan       25339 non-null  object
 8   contact    25339 non-null  object
 9   day        25339 non-null  float64
 10  month      25339 non-null  object
 11  duration   25339 non-null  float64
 12  campaign   25339 non-null  float64
 13  pdays      25339 non-null  float64
 14  previous   25339 non-null  float64
 15  poutcome   25339 non-null  object
 16  y          25339 non-null  object
dtypes: float64(5), int64(2), object(10)
memory usage: 3.3+ MB

In [18]:
bank.head(10)
bank.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      1
loan         1
contact      1
day          1
month        1
duration     1
campaign     1
pdays        1
previous     1
poutcome     1
y            1
dtype: int64

In [19]:
bank.describe()

,age,balance,day,duration,campaign,pdays,previous
count,25340.000000,25340.000000,25339.000000,25339.000000,25339.000000,25339.000000,25339.000000
mean,41.291555,1164.952723,16.849599,251.349698,3.284897,0.888788,0.033861
std,9.469699,2750.587738,8.254692,259.488697,3.790514,17.127443,0.415718
min,20.000000,-8019.000000,1.000000,0.000000,1.000000,-1.000000,0.000000
25%,33.000000,30.000000,9.000000,99.000000,1.000000,-1.000000,0.000000
50%,40.000000,349.000000,17.000000,171.000000,2.000000,-1.000000,0.000000
75%,49.000000,1211.250000,23.000000,304.000000,4.000000,-1.000000,0.000000
max,61.000000,66721.000000,31.000000,4918.000000,63.000000,196.000000,21.000000

In [20]:
# One-Hot Encoding of categrical variables
data1=pd.get_dummies(bank,columns=['job','marital','education','contact','poutcome'])
data1

,age,default,balance,housing,loan,day,month,duration,campaign,pdays,...,education_secondary,education_tertiary,education_unknown,contact_cellular,contact_telephone,contact_unknown,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown
0,58,no,2143,yes,no,5.0,may,261.0,1.0,-1.0,...,0,1,0,0,0,1,0,0,0,1
1,44,no,29,yes,no,5.0,may,151.0,1.0,-1.0,...,1,0,0,0,0,1,0,0,0,1
2,33,no,2,yes,yes,5.0,may,76.0,1.0,-1.0,...,1,0,0,0,0,1,0,0,0,1
3,47,no,1506,yes,no,5.0,may,92.0,1.0,-1.0,...,0,0,1,0,0,1,0,0,0,1
4,33,no,1,no,no,5.0,may,198.0,1.0,-1.0,...,0,0,1,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25335,34,no,47,yes,no,18.0,nov,810.0,2.0,-1.0,...,1,0,0,1,0,0,0,0,0,1
25336,33,no,17455,yes,yes,18.0,nov,168.0,3.0,179.0,...,0,1,0,1,0,0,1,0,0,0
25337,32,no,491,yes,no,18.0,nov,131.0,3.0,194.0,...,1,0,0,1,0,0,1,0,0,0
25338,35,no,2472,no,no,18.0,nov,586.0,2.0,-1.0,...,0,1,0,1,0,0,0,0,0,1
25339,53,no,33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,1,0,0,0,0,0,0,0,0

In [21]:
pd.set_option("display.max.columns", None)
data1

,age,default,balance,housing,loan,day,month,duration,campaign,pdays,previous,y,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,job_unemployed,job_unknown,marital_divorced,marital_married,marital_single,education_primary,education_secondary,education_tertiary,education_unknown,contact_cellular,contact_telephone,contact_unknown,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown
0,58,no,2143,yes,no,5.0,may,261.0,1.0,-1.0,0.0,no,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1
1,44,no,29,yes,no,5.0,may,151.0,1.0,-1.0,0.0,no,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,1,0,0,0,0,1,0,0,0,1
2,33,no,2,yes,yes,5.0,may,76.0,1.0,-1.0,0.0,no,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,1
3,47,no,1506,yes,no,5.0,may,92.0,1.0,-1.0,0.0,no,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,1
4,33,no,1,no,no,5.0,may,198.0,1.0,-1.0,0.0,no,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25335,34,no,47,yes,no,18.0,nov,810.0,2.0,-1.0,0.0,no,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,1
25336,33,no,17455,yes,yes,18.0,nov,168.0,3.0,179.0,4.0,no,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,1,0,0,1,0,0,0
25337,32,no,491,yes,no,18.0,nov,131.0,3.0,194.0,2.0,no,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0,0
25338,35,no,2472,no,no,18.0,nov,586.0,2.0,-1.0,0.0,no,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,1
25339,53,no,33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0

In [22]:
data1.info()
data1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25340 entries, 0 to 25339
Data columns (total 38 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  25340 non-null  int64
 1   default              25340 non-null  object
 2   balance              25340 non-null  int64
 3   housing              25339 non-null  object
 4   loan                 25339 non-null  object
 5   day                  25339 non-null  float64
 6   month                25339 non-null  object
 7   duration             25339 non-null  float64
 8   campaign             25339 non-null  float64
 9   pdays                25339 non-null  float64
 10  previous             25339 non-null  float64
 11  y                    25339 non-null  object
 12  job_admin.           25340 non-null  uint8
 13  job_blue-collar      25340 non-null  uint8
 14  job_entrepreneur     25340 non-null  uint8
 15  job_housemaid        25340 non-null  uint8
 16  job_management       25340 non-null  uint8
 17  job_retired          25340 non-null  uint8
 18  job_self-employed    25340 non-null  uint8
 19  job_services         25340 non-null  uint8
 20  job_student          25340 non-null  uint8
 21  job_technician       25340 non-null  uint8
 22  job_unemployed       25340 non-null  uint8
 23  job_unknown          25340 non-null  uint8
 24  marital_divorced     25340 non-null  uint8
 25  marital_married      25340 non-null  uint8
 26  marital_single       25340 non-null  uint8
 27  education_primary    25340 non-null  uint8
 28  education_secondary  25340 non-null  uint8
 29  education_tertiary   25340 non-null  uint8
 30  education_unknown    25340 non-null  uint8
 31  contact_cellular     25340 non-null  uint8
 32  contact_telephone    25340 non-null  uint8
 33  contact_unknown      25340 non-null  uint8
 34  poutcome_failure     25340 non-null  uint8
 35  poutcome_other       25340 non-null  uint8
 36  poutcome_success     25340 non-null  uint8
 37  poutcome_unknown     25340 non-null  uint8
dtypes: float64(5), int64(2), object(5), uint8(26)
memory usage: 2.9+ MB

,age,default,balance,housing,loan,day,month,duration,campaign,pdays,previous,y,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,job_unemployed,job_unknown,marital_divorced,marital_married,marital_single,education_primary,education_secondary,education_tertiary,education_unknown,contact_cellular,contact_telephone,contact_unknown,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown
0,58,no,2143,yes,no,5.0,may,261.0,1.0,-1.0,0.0,no,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1
1,44,no,29,yes,no,5.0,may,151.0,1.0,-1.0,0.0,no,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,1,0,0,0,0,1,0,0,0,1
2,33,no,2,yes,yes,5.0,may,76.0,1.0,-1.0,0.0,no,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,1
3,47,no,1506,yes,no,5.0,may,92.0,1.0,-1.0,0.0,no,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,1
4,33,no,1,no,no,5.0,may,198.0,1.0,-1.0,0.0,no,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25335,34,no,47,yes,no,18.0,nov,810.0,2.0,-1.0,0.0,no,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,1
25336,33,no,17455,yes,yes,18.0,nov,168.0,3.0,179.0,4.0,no,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,1,0,0,1,0,0,0
25337,32,no,491,yes,no,18.0,nov,131.0,3.0,194.0,2.0,no,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0,0
25338,35,no,2472,no,no,18.0,nov,586.0,2.0,-1.0,0.0,no,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,1
25339,53,no,33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0

In [23]:
# Custom Binary Encoding of Binary o/p variables
data1['default'] = np.where(data1['default'].str.contains("yes"), 1, 0)
data1['housing'] = np.where(data1['housing'].str.contains("yes"), 1, 0)
data1['loan'] = np.where(data1['loan'].str.contains("yes"), 1, 0)
data1['y'] = np.where(data1['y'].str.contains("yes"), 1, 0)
data1

,age,default,balance,housing,loan,day,month,duration,campaign,pdays,previous,y,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,job_unemployed,job_unknown,marital_divorced,marital_married,marital_single,education_primary,education_secondary,education_tertiary,education_unknown,contact_cellular,contact_telephone,contact_unknown,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown
0,58,0,2143,1,0,5.0,may,261.0,1.0,-1.0,0.0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1
1,44,0,29,1,0,5.0,may,151.0,1.0,-1.0,0.0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,1,0,0,0,0,1,0,0,0,1
2,33,0,2,1,1,5.0,may,76.0,1.0,-1.0,0.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,1
3,47,0,1506,1,0,5.0,may,92.0,1.0,-1.0,0.0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,1
4,33,0,1,0,0,5.0,may,198.0,1.0,-1.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25335,34,0,47,1,0,18.0,nov,810.0,2.0,-1.0,0.0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,1
25336,33,0,17455,1,1,18.0,nov,168.0,3.0,179.0,4.0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,1,0,0,1,0,0,0
25337,32,0,491,1,0,18.0,nov,131.0,3.0,194.0,2.0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0,0
25338,35,0,2472,0,0,18.0,nov,586.0,2.0,-1.0,0.0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,1
25339,53,0,33,1,1,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0

In [24]:

# Find and Replace Encoding for month categorical varaible
data1['month'].value_counts()

may    7957
jul    6380
aug    5215
jun    4486
nov    1221
oct      80
Name: month, dtype: int64

In [25]:
order={'month':{'jan':1,'feb':2,'mar':3,'apr':4,'may':5,'jun':6,'jul':7,'aug':8,'sep':9,'oct':10,'nov':11,'dec':12}}

In [26]:
data1=data1.replace(order)

In [27]:
data1

,age,default,balance,housing,loan,day,month,duration,campaign,pdays,previous,y,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,job_unemployed,job_unknown,marital_divorced,marital_married,marital_single,education_primary,education_secondary,education_tertiary,education_unknown,contact_cellular,contact_telephone,contact_unknown,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown
0,58,0,2143,1,0,5.0,5.0,261.0,1.0,-1.0,0.0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1
1,44,0,29,1,0,5.0,5.0,151.0,1.0,-1.0,0.0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,1,0,0,0,0,1,0,0,0,1
2,33,0,2,1,1,5.0,5.0,76.0,1.0,-1.0,0.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,1
3,47,0,1506,1,0,5.0,5.0,92.0,1.0,-1.0,0.0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,1
4,33,0,1,0,0,5.0,5.0,198.0,1.0,-1.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25335,34,0,47,1,0,18.0,11.0,810.0,2.0,-1.0,0.0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,1
25336,33,0,17455,1,1,18.0,11.0,168.0,3.0,179.0,4.0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,1,0,0,1,0,0,0
25337,32,0,491,1,0,18.0,11.0,131.0,3.0,194.0,2.0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0,0
25338,35,0,2472,0,0,18.0,11.0,586.0,2.0,-1.0,0.0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,1
25339,53,0,33,1,1,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0

In [28]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25340 entries, 0 to 25339
Data columns (total 38 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  25340 non-null  int64
 1   default              25340 non-null  int64
 2   balance              25340 non-null  int64
 3   housing              25340 non-null  int64
 4   loan                 25340 non-null  int64
 5   day                  25339 non-null  float64
 6   month                25339 non-null  float64
 7   duration             25339 non-null  float64
 8   campaign             25339 non-null  float64
 9   pdays                25339 non-null  float64
 10  previous             25339 non-null  float64
 11  y                    25340 non-null  int64
 12  job_admin.           25340 non-null  uint8
 13  job_blue-collar      25340 non-null  uint8
 14  job_entrepreneur     25340 non-null  uint8
 15  job_housemaid        25340 non-null  uint8
 16  job_management       25340 non-null  uint8
 17  job_retired          25340 non-null  uint8
 18  job_self-employed    25340 non-null  uint8
 19  job_services         25340 non-null  uint8
 20  job_student          25340 non-null  uint8
 21  job_technician       25340 non-null  uint8
 22  job_unemployed       25340 non-null  uint8
 23  job_unknown          25340 non-null  uint8
 24  marital_divorced     25340 non-null  uint8
 25  marital_married      25340 non-null  uint8
 26  marital_single       25340 non-null  uint8
 27  education_primary    25340 non-null  uint8
 28  education_secondary  25340 non-null  uint8
 29  education_tertiary   25340 non-null  uint8
 30  education_unknown    25340 non-null  uint8
 31  contact_cellular     25340 non-null  uint8
 32  contact_telephone    25340 non-null  uint8
 33  contact_unknown      25340 non-null  uint8
 34  poutcome_failure     25340 non-null  uint8
 35  poutcome_other       25340 non-null  uint8
 36  poutcome_success     25340 non-null  uint8
 37  poutcome_unknown     25340 non-null  uint8
dtypes: float64(6), int64(6), uint8(26)
memory usage: 2.9 MB

**Model buliding**

In [29]:

# Dividing our data into input and output variables
x=pd.concat([data1.iloc[:,0:11],data1.iloc[:,12:]],axis=1)
y=data1.iloc[:,11]

In [33]:
# Logistic regression model
classifier=LogisticRegression()
classifier.fit(x,y)

ValueError: Input X contains NaN.
LogisticRegression does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values

In [34]:
LogisticRegression()

LogisticRegression()

In [35]:
# Predict for x dataset
y_pred=classifier.predict(x)
y_pred

ValueError: Input X contains NaN.
LogisticRegression does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values